RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

#Block access to a file on server
<Files register.php>
Order Allow,Deny
Deny from all
</Files>
